.circle {
  position: absolute;
  top: 20px;
  left: -100px;
  width: 300px; /* same width and height */
  height: 300px;
  background-color: #ec110f; /* or any color */
  border-radius: 50%; /* makes it a circle */
}

.lines {
  position: absolute;
  right: 10%;
  top: 17%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transform: rotate(-38deg);
}

.lines div {
  width: 400px;
  height: 3px;
  background-color: #ec110f;
  border-radius: 5%;
}
