:root {
  --font-display: "Luckiest Guy", cursive;
  --font-body: "DM Sans", sans-serif;
}

body {
  background-color: #1c2d1a;
  margin: 0;
  color: #faf9db;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
